body {
  background: #f7f5f5;
}

body > article,
body > article > section.login-form {
  height: 100%;
}

.login-form .labeled.button {
  word-break: break-all;
}

.login-form .labeled a {
  font-weight: normal!important;
}

.login-form .labeled button {
  white-space: nowrap;
}

#dashboard .container {
  padding: 1em 0em;
}

#dashboard .container .segment {
  padding-top: 2em;
  padding-bottom: 2em;
}

.pull-right {
  float: right!important;
}

.clearfix {
  clear: both!important;
}

.hand-cursor:hover {
  cursor: pointer;
}
